.top-projects-container {
  padding: 2rem 2rem 2rem 0;
  background-color: #111;
  color: white;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.highlight {
  color: #00ffff;
}

.card-scroll-container {
  display: flex;
  gap: 3rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 1rem;
  scrollbar-width: none; 
  -ms-overflow-style: none  ;  
}
.card-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.project-card {
  background: linear-gradient(to bottom, #00ffff20, black);
  min-width: 330px;
  height: 400px;
  padding: 1rem;
  border-radius: 20px;
  scroll-snap-align: start;
  box-shadow: 0 0 10px #00ffffe8;
  transition: all 0.3s ease;
  /* background-color: red; */
}

.project-card:hover {
  transform: scale(1.01);
  box-shadow: 0 0 20px #00ffff40;
}

.upper-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#00ffff;
}

.project-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.project-desc {
  margin-top: 16rem;
  color: #ccc;
  
}

.go-button {
  background-color: #00ffff;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.slider-dots {
  margin-top: 1.5rem;
}

.dot {
  display: inline-block;
  height: 10px;
  width: 10px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 5px;
}

.dot.active {
  background-color: #00ffff;
}
@media screen and (min-width: 1280px) and (max-width: 1440px) {
  .project-card {
    min-width: 300px;
    height: 380px;
  }

  .card-scroll-container {
    padding-bottom: 2rem;
  }

  .section-title {
    font-size: 2.5rem;
  }
  .project-desc {
    margin-top: 13rem;
    
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .project-card {
    min-width: 280px;
    height: 360px;
  }

  .card-scroll-container {
    padding-bottom: 2rem;
  }

  .section-title {
    font-size: 2.5rem;
  }
  .project-desc {
    margin-top: 13rem;
    
  }
  
}
@media screen and (max-width: 767px) {
 
  .project-card {
    max-width: 240px;
    height: 320px;
    padding: 0.7rem;
   
  }

  .card-scroll-container {
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .section-title {
    font-size: 1.8rem;
  }
  .project-desc {
    margin-top: 10rem;
  }
  .slider-dots {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .card-scroll-container {
    padding-bottom: 1rem;
    flex-direction: column;
    align-items: center;
    gap:2rem !important
  }
  .project-card{
     max-width: 80px;
    height: 300px;
    padding: 0.6rem;
    
  }
  .section-title {
    font-size: 1.5rem;
  }

  .go-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-desc {
    font-size: 0.9rem;
  }
  .slider-dots {
    display: none;
  }
}